---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Clinica SMA | Conocenos'>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-2 p-3'>
    <img src='/doctors.svg' alt='' />
    <section>
      <h2 class='flex flex-col mb-4'>
        <span
          class='text-md text-gray-600 text-serif text-xs'
          style='color: #7b7b7d'>¿Quienes somos?</span
        >
        <span class='text-2xl font-bold'> Conocenos</span>
      </h2>

      <div>
        <p class='mb-2'>
          Somos una empresa peruana especializada en brindar servicios medicos
          ocupacionales; aplicados a todos los sectores produción y servidos,
          tanto en el sector publico y privado.
        </p>
        <p class='mb-2'>
          Nuestro objetivo es brindar un servicio integral, que comprende: el
          diagnostico, implementacion, supervision, mejora continua de la
          seguridad en el trabajo y prevencion de riegos laborales. Para lo cual
          con profesionales con amplia experiencia en el area de salud.
        </p>
        <p class='mb-2'>
          Lo que nos permite crear soluciones a medida de las necesidades de
          nuestros clientes; que requieran adecuarse a la normativa nacional.
        </p>
      </div>
    </section>
  </div>
</Layout>
