---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Clinica SMA'>
	<section class='relative flex flex-grow p-4'>
		<header class='m-4'>
			<h1 class='flex flex-col mb-4'>
				<span class='text-xs uppercase mb-2 font-bold text-gray-400'
					>centro de salud ocupacional del norte</span
				>
				<span class='text-6xl font-bold text-red-700'>
					San Miguel Arcangel</span
				>
			</h1>
		</header>

		<div class='h-80 absolute bottom-0 right-0'>
			<img src='/doctors.svg' class='h-full' />
		</div>
	</section>
</Layout>
