---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Clinica SMA | Servicios'>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-2 p-3'>
    <img src='/educador.svg' alt='' />
    <section>
      <h1 class='text-center text-2xl mb-4 font-bold'>Nuestros servicios</h1>

      <ul class='list-disc'>
        <li>Capacitaciones y charlas de seguridad</li>
        <li>Monitoreo de agentes de riesgo ocupacionales</li>
        <li>Servicio de vigilancia medica en el trabajo</li>
        <li>Campañas medicas</li>
        <li>Examenes medicos ocupacionales</li>
        <li>Asesoria al comite de seguirdad y salud en el trabajo</li>
      </ul>
    </section>
  </div>
</Layout>
