---
interface Props {
  image: string;
  title: string;
  body: string;
}

const { image, title, body } = Astro.props;
---

<section class='card bg-base-100 w-full hover:bg-blue-100'>
  <div class='card-body'>
    <div class='flex justify-center w-full'>
      <img src={image} alt='' class='h-32 w-32' />
    </div>

    <h3 class='card-title'>{title}</h3>
    <p class='card-text'>{body}</p>
  </div>
</section>
